@media (max-width: 1080px) {
    .cards__box {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .cards__item {
        width: 300px;
    }
}

@media (max-width: 840px) {
    .header__wrapper {
        display: none;
    }
    .menu-btn {
        display: block;
    }
}
