@media (max-width: 1080px) {
    .cards__box {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .cards__item {
        width: 300px;
    }
}

@media (max-width: 1024px) {
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 101;
    }
    .header__wrapper {
        display: none;
    }
    .menu-btn {
        display: block;
    }
}

@media (max-width: 640px) {
    .slider__item-title {
        font-size: 38px;
        text-shadow: $dark 1px 0 10px;
        span {
            font-size: 24px;
        }
    }
    .slider__item-btn {
        font-size: 14px;
        padding: 6px 16px;
    }
    .cards {
        padding: 26px 0;
    }
    .cards__title {
        font-size: 40px;
        line-height: 40px;
    }
    .cards__subtitle {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 26px;
    }
    .cards__item {
        width: 230px;
        &-img {
            margin-bottom: 12px;
        }
        &-title {
            font-size: 14px;
            line-height: 16px;
        }
        &-info {
            margin: 6px 0px 24px 22px;
            margin-left: 22px;
            margin-right: auto;
            font-size: 20px;
            line-height: 24px;
        }
        &-btn {
            max-width: 180px;
            height: 54px;
            font-size: 14px;
        }
    }
    .exclusive-info {
        padding: 30px 0 30px;
        &__title {
            font-size: 28px;
            margin-bottom: 16px;
        }
    }
    .slider-cards {
        &__item {
            width: 100%;
            min-height: 360px;
        }
        &__title {
            font-size: 16px;
            line-height: 10px;
        }
        &__info {
            font-size: 16px;
            line-height: 20px;
        }
        &__btn {
            font-size: 15px;
            max-width: 180px;
            height: 46px;
        }
    }
    .exclusive-info__btn {
        margin-top: 30px;
        font-size: 15px;
        max-width: 180px;
        height: 46px;
        padding: 15px 47px;
    }
}

@media (max-width: 600px) {
    .design {
        &__info {
            max-width: 400px;
        }
        padding: 110px 0 120px;
        &__title {
            font-size: 40px;
            line-height: 20px;
            text-shadow: $dark 1px 0 10px;
        }
        &__text {
            font-size: 20px;
            line-height: 22px;
            text-shadow: $dark 1px 0 10px;
        }
        &__btns {
            line-height: 21px;
            button {
                font-size: 14px;
                padding: 14px 14px;
            }
        }
    }
    .footer {
        padding: 10px 20px;
        &-wrapper {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__item {
            text-align: center;
            margin: 0;
            margin-top: 60px;
        }
        &__social {
            text-align: center;
            margin: 0;
            margin-top: 60px;
        }
        &__mainlink {
            font-size: 20px;
            margin-bottom: 20px;
        }
        &__social-box {
            gap: 40px;
        }
        &__privacy {
            flex-direction: column;
            gap: 18px;
        }
    }
}

@media (max-width: 400px) {
    .slider__item-info {
        display: flex;

        right: 0;
    }
    .design {
        &__title {
            font-size: 34px;
            text-shadow: $dark 1px 0 10px;
        }
        &__text {
            text-shadow: $dark 1px 0 10px;
        }
        &__btns {
            flex-direction: column;
            gap: 10px;
            margin: 0 auto;
            max-width: 220px;
            button {
                font-size: 12px;
                padding: 12px 12px;
            }
        }
    }
}

@media (max-height: 320px) {
    .slider__item-info {
        justify-content: space-around;
        top: 18%;
    }
}
