@import "vars";
@import "libs";
@import "global";

/*  */

.header {
    background-color: $dark;
    height: 60px;
    padding-top: 11px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__items {
        display: flex;
        align-items: center;
    }
    &__nav-items {
        display: flex;
        margin-right: 36px;
    }
    &__nav-item {
        margin-right: 45px;
        color: $grey;
        &:hover {
            color: $white;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__nav-link-dropdown {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 40%;
            right: 0;
            left: 110%;
            bottom: 0;
            width: 12px;
            height: 6px;
            background-image: url(../images/arrow-down.svg);
        }
    }
    &__input {
        padding: 9px 16px;
        border: 1px solid #cccccc;
        border-radius: 4px;
        margin-right: 30px;
    }
    &__acc {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $grey;
        cursor: pointer;
    }
    &__acc-login {
        &:hover {
            color: $white;
        }
    }
}

.slider {
    &-top {
        position: relative;
        margin-bottom: -4px;
    }
    &__item {
        position: relative;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__item-info {
        position: absolute;
        top: 34%;
        right: 24%;
        width: 310px;
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__item-title {
        font-size: 46px;
        line-height: 42px;
        span {
            display: block;
            font-size: 30px;
            line-height: 28px;
        }
    }
    &__item-btns {
        display: flex;
        gap: 16px;
    }
    &__item-btn {
        padding: 8px 20px;
        font-size: 16px;
        line-height: 21px;
        border-radius: 4px;
        color: $white;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
        &:hover {
            background: linear-gradient(180deg, #54c328 0%, #67f151 100%);
        }
    }
    &__arrow {
        background-color: transparent;
        border: none;
        display: inline-block;
        position: absolute;
        z-index: 1;
        cursor: pointer;
    }
    &__arrowleft {
        top: 50%;
        left: 4%;
    }
    &__arrowright {
        top: 50%;
        right: 4%;
    }
}

.cards {
    padding: 64px 0px;
    background-image: linear-gradient(0deg, #434343 0%, #7d7c7c 100%);
    &__icon {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }
    &__title {
        text-align: center;
        font-size: 48px;
        line-height: 56px;
        font-weight: 400;
    }
    &__subtitle {
        text-align: center;
        font-size: 36px;
        line-height: 42px;
        font-weight: 400;
        margin-bottom: 42px;
    }
    &__box {
        display: flex;
        justify-content: space-around;
    }
    &__item {
        border: 1px solid #8dd83d;
        border-radius: 4px;
        background-color: $white;
        color: $title-color;
        img {
            border-radius: 4px;
            object-fit: cover;
            margin-bottom: 22px;
        }
    }
    &__item-title {
        margin-left: 22px;
        margin-right: auto;
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
    }
    &__item-info {
        margin: 12px 0 38px 22px;
        margin-left: 22px;
        margin-right: auto;
        font-size: 24px;
        line-height: 28px;
    }
    &__item-btn {
        display: block;
        margin: 30px auto;
        border-radius: 4px;
        border: none;
        max-width: 278px;
        width: 100%;
        height: 60px;
        color: $white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
        &:hover {
            background: linear-gradient(180deg, #54c328 0%, #67f151 100%);
        }
    }
}

.exclusive-info {
    background-image: url("../images/slider-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0 140px;
    &__title {
        text-align: center;
        font-size: 36px;
        line-height: 42px;
        font-weight: 400;
        margin-bottom: 40px;
    }
    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 58px;
        border-radius: 4px;
        color: $white;
        border: none;
        padding: 17px 47px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
        &:hover {
            background: linear-gradient(180deg, #54c328 0%, #67f151 100%);
        }
    }
    .slick-slide {
        width: 320px;
        margin: 0 16px;
    }
}

.slider {
    &-cards__item {
        border: 1px $green solid;
        background-color: $white;
        width: 320px;
        min-height: 440px;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 26px;
        img {
            width: inherit;
            border-radius: 4px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-cards__title {
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
        color: $title-color;
        padding-left: 20px;
    }
    &-cards__info {
        text-transform: uppercase;
        color: $title-color;
        font-size: 20px;
        line-height: 25px;
        margin: 0;
        padding-left: 20px;
    }
    &-cards__btn {
        display: block;
        margin: 0 auto;
        max-width: 278px;
        width: 100%;
        height: 60px;
        color: $white;
        cursor: pointer;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
        &:hover {
            background: linear-gradient(180deg, #54c328 0%, #67f151 100%);
        }
        border: none;
    }
}

.design {
    background-image: url("../images/gamepads.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 140px 0 170px;
    &__info {
        max-width: 500px;
        width: 100%;
    }
    &__title {
        font-size: 48px;
        line-height: 56px;
        font-weight: 400;
    }
    &__text {
        font-size: 24px;
        line-height: 28px;
        font-weight: 400;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        button {
            font-size: 16px;
            line-height: 21px;
            padding: 20px 36px;
            color: $white;
            border: none;
            background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
                background: linear-gradient(180deg, #54c328 0%, #67f151 100%);
            }
        }
    }
}

.footer {
    background-color: $dark;
    padding: 58px 38px;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $grey;
        padding-bottom: 50px;
        margin-bottom: 20px;
    }
    &__item {
        margin-right: auto;
        margin-left: 5%;
    }
    &__social {
        margin-right: auto;
    }
    &__mainlink {
        display: inline-block;
        color: $green;
        margin-bottom: 34px;
        cursor: pointer;
    }
    &__list-item {
        margin-bottom: 30px;
        color: $grey;
        &:hover {
            color: $white;
        }
        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
    &__social-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    &__privacy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $grey;
    }
}

.menu-btn {
    display: none;
    width: 50px;
    height: 35px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
    z-index: 200;
}

.menu-btn span {
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    transition: all 0.5s;
    border-radius: 4px;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 10px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 10px);
}

.menu-btn.active span:nth-of-type(1) {
    display: none;
}

.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: $dark;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 100;
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
        text-align: center;
        ul {
            font-size: 28px;
            display: flex;
            flex-direction: column;
            row-gap: 66px;
        }
    }
}

.menu-mobile .active {
    transform: translateX(0);
}

.menu-mobile.active {
    transform: translateX(0);
}

/*  */

@import "media";
